*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(163, 8, 8);
  color: white;

}

section{
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(85, 0, 0);
  border-top: 1px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1{
  height: 100px;
  font-size: 3rem;
  background-color: rgb(85, 0, 0);
  text-align: center;
  line-height: 100px;
}

.filter_grid{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px 0px;
}
.filter{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input{
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 10px;
}
select{
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 10px;
}

.film-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}

.card{
  width: 32%;
  text-align: center;
  border: 1px solid rgb(220, 220, 220);
}

form{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.add{
  border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
}
